.container {
  padding: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add {
  background-color: #e295e2;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-button {
  padding: 6px 12px;
  margin: 0 4px;
  background-color: #e295e2;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button.active {
  background-color: #8242c2;
  color: white;
  font-weight: bold;
}


.add-kategori-form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 8px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-submit {
  background-color: #8242c2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.kategori-table-wrapper {
  margin-top: 30px;
  overflow-x: auto;
}

.kategori-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.kategori-table th,
.kategori-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.kategori-table th {
  background-color: #a66dd4;
  color: white;
  text-transform: uppercase;
}



